body {
  font-family: Arial, Helvetica, sans-serif
}
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin: 3rem;
}
.lists-container {
  display: flex;
  column-gap: .5rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}
.list {
  width: calc(100% / 4 - .5rem);
  background-color: #F2F2F2;
  padding: 1rem;
  box-sizing: border-box;
  &_title {
    font-weight: 1.3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &.completed {
    width: calc(100% - .5rem);
  }
  // &:not(:last-child){
  //   border-right: 1px solid #666666;
  // }
}